{% extends "layout.html" %}

{% block head %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
function start_long_task() {

        // send ajax POST request to start background job
        $.ajax({
            type: 'POST',
            url: '/longtask',
            success: function(data, status, request) {
                status_url = request.getResponseHeader('Location');
                update_progress(status_url);
            },
            error: function(smth, textStatus, errThrown) {
                alert('Unexpected error: '+errThrown);
            }
        });
    }

    function update_progress(status_url) {

        // send GET request to status URL on server - Client pushes for updates
        $.getJSON(status_url, function(data) {
            // update UI
            percent = parseInt(data['current'] * 100 / data['total']);
            
            if ('values' in data)
            {
                values = data['values']['v1'];
            }
            else
            {
                values = 'No values';
            }
            
            $('#counter').html("Processed "+percent+" %..... "+values);

            if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                if ('result' in data) {
                    // show result
                    $('#result').html("DONE!"+ data['result']);
                    
                }
                else {
                    // something unexpected happened
                    $('#result').html("WTF!?"+ data['state']);
                }
            }
            else {
                // rerun in 5 seconds
                setTimeout(function() {
                    update_progress(status_url);
                }, 2000);
            }
        });
    }


</script>
{% endblock %}

{% block body %}

<body onload="javascript:start_long_task()"> 


  <div id="container" style="position:absolute; width: 100px; height: 100px;">
    <!-- <p  id="log">Chruncy...</p> -->
    <p id="counter" style="position:relative;top: 0;left: 0;">NONE</p>
    <p id="result" style="position:relative;top: 0;left: 0;"></p>
  </div>

  <!-- <div style="position: fixed; width: 100%;height: 100%;opacity: .2; background: black center center no-repeat;"> -->
      <div class="spinner overlay">
      </div>
  <!-- </div> -->


</body>
{% endblock %}