{% extends "layout.html" %}

{% block head %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>

  <script>
    $(document).ready(function(){
      $("a#search").bind("click", function(){
        $.getJSON($SCRIPT_ROOT + '/log_feed_launch');
      });
    });
  </script>
  
  <script>
    $(document).ready(function(){
      $("a#ignore_seller").bind("click", function(){
        var sId = event.target.name;
        
        //Delete this item from the feed
        var masonTag = event.target.parentNode.parentNode;
        msnry_del_item(masonTag);

        //send the seller id to the server to be omitted from future feeds
        $.getJSON($SCRIPT_ROOT + '/log_ignore_seller', {sellerId: sId});

      });
    });
  </script>


{% endblock %}

{% block body %}

<body> 
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}

  <ul class="tree">
  {%- for item in entries recursive %}
      <li><a href="{{ item.href|e }}">{{ item.name }}</a>
      {%- if item.children -%}
          <ul class="submenu">{{ loop(item.children) }}</ul>
      {%- endif %}</li>
  {%- endfor %}
  </ul>


</body>
{% endblock %}